.menu-filters {
  &__container {
    padding-bottom: 2em;
  }

  .menu-filters__body {
    padding: 1.5em 0 1em;
    background-color: white;
    color: #808285;
  }

  &__title {
    background: $BLACK;
    width: 100%;
    padding: 0.8em 30px;
    color: $WHITE;
    text-transform: uppercase;
    font-size: 1.25em;
  }
  &__subtitle {
    padding: 0.3em 0;
    font-size: 0.938em;
    color: $PRIMARY-2;
    text-transform: uppercase;
    font-weight: 700;
    a {
      color: $PRIMARY-2;
      text-decoration: none;
    }
  }

  &__title_filter {
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: normal;
    color: $BLACK-3;
  }
  &__title_subfilter {
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: normal;
    padding: 0.5em 0;
    color: $BLACK-3;
  }
}
